<ion-view title="Articles" id="page12">
    <ion-content padding="true" style="background: url(img/background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="articles" ng-submit="searchArticle()">



      <h4>Enter a search keyword</h4>
        <label class="item item-input" id="article-input1">
            <input id="articleWord" type="text" placeholder="" style="border:2px black;">
        </label>



    <button id="joinClass-button6" class="button button-positive  button-block"  >Go</button>


      <div id="articleres">
        <ion-list>
      <ion-item ng-repeat="i in articlesResult" class="item item-text-wrap" >

        <p>{{i.snippet}}</p>

        </ion-item>
    </ion-list>
      </div>

    </form>
    </ion-content>
</ion-view>
